<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="register.html" method="POST">
        <p>
            <section>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido">
            </section>

        </p>
    <!-- nombre y apellido -->
    <!-- nombre de usuario -->
    <!-- fecha -->
    <!-- domicilio -->
    <!-- comprar o vender (RADIO) -->
    <!-- categorías (CHECKBOX) -->
    <!-- foto type="file" accept=".jpg" -->

</form>
    
</body>
</html>